@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: var(--dark);
  scroll-behavior: smooth;
  color: var(--light-grey);
  /* VARIABLES */
  --dark: #1d3557;
  --medium: #457b9d;
  --light: #a8dadc;
  --dark-grey: #a6a6a6;
  --light-grey: #f2f2f2;
  --grey-green: #f1faee;
  --red: #e63946;
}

html,
body {
  height: 100%;
  margin: 20px;
}

.heart {
  color: var(--red);
}

h2 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  margin-bottom: 12px;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0 16px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

nav a {
  color: var(--light-grey);
  text-decoration: none;
  font-weight: 600;
}

a:hover { 
  transition: color 0.5s ease;
  color: var(--red);
}

a {
  text-decoration: none;
  color: var(--red)
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: 8px;
}

.about-me-container {
  display: flex;
  background-color: var(--medium);
  color: var(--light-grey);
  justify-content: center;
  align-items: center;
}

.portrait {
  width: 200px; 
  flex-shrink: 0;
  border-radius: 12px;
  margin: 10px;
}

.about-me-text-container {
  margin: 10px;
}

#projects,
#skills,
#contact,
#resume {
  background-color: var(--light-grey);
  color: var(--dark);
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

.project-image {
  width: 50%;
  border: 1px solid var(--dark-grey)
}

.project-title {
  padding-bottom: 10px;
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
  margin-top: auto;
  padding: 12px 0;
  text-align: center;
}

section {
  padding: 16px 0;
}

a {
  color: 
  text-decoration: none;
  font-weight: 600;
}

.icon {
  font-family: 'Font Awesome 5 Brands';
  font-size: 2em;
  color: var(--dark);
  margin: 0 8px;
}

.coming-soon {
  color: #6c757d8f;
}

#logo {
  margin: 0;
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: 8px;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: var(--dark);
  color: var(--light-grey);
  text-decoration: none;
  border: 0.125rem solid;
  border-color: var(--dark);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  color: var(--light-grey);
  border-color: var(--red);
  background-color: var(--red);
  transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}

@media only screen and (max-width: 600px) {
    nav {
      display: flex;
      align-items: center;
      padding: 16px 0;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .portrait {
        width: 50%;
        align-self: center;
    }

    .about-me-container {
        flex-direction: column;
        padding: 20px;
    }

    .project img {
      width: 90%;
    }
}